<div class="p-6 max-w-lg mx-auto bg-white shadow-lg rounded-lg mt-6">
  <h2 class="text-2xl font-semibold text-gray-700 mg-4">Novo lugares</h2>
  <hr/>

  <form id="lugarForm" [formGroup]="camposForm" (ngSubmit)="salvar()">
    <div class="mb-4">
      <label class="block text-gray-600 font-medium mb-2" for="nome">Nome do lugar</label>
      <input
        type="text"
        id="nome"
        name="nome"
        formControlName="nome"
        placeholder="Ex: Praia do Sol, Restautante Estrela"
        class="w-full p-3 border border-gray-300 rounded shadow-sm focus:ring focus:ring-blue-400"
      />
      <span class="text-red-500 text-sm" *ngIf="isCampoInvalido('nome')">Campo obrigatório</span>
    </div>

    <div class="mb-4">
      <label class="block text-gray-600 font-medium mb-2" for="categoria">Categoria</label>
      <select
        name="categoria"
        id="categoria"
        formControlName="categoria"
        class="w-full p-3 border border-gray-300 rounded shadow-sm focus:outline-none focus:ring focus:ring-blue-400"
      >
      <option [value]="">Selecione uma categoria</option>
      <option *ngFor="let cat of categorias" [value]="cat.nome">{{ cat.nome }}</option>
      </select>
      <span class="text-red-500 text-sm" *ngIf="isCampoInvalido('categoria')">Campo obrigatório</span>
    </div>

    <div class="mb-4">
      <label class="block text-gray-600 font-medium mb-2" for="localizacao">Localização</label>
      <input
        type="text"
        id="localizacao"
        name="localizacao"
        formControlName="localizacao"
        placeholder="Ex: São paulo, Rio de Janeiro, etc."
        class="w-full p-3 border border-gray-300 rounded shadow-sm focus:ring focus:ring-blue-400"
      />
      <span class="text-red-500 text-sm" *ngIf="isCampoInvalido('localizacao')">Campo obrigatório</span>
    </div>

    <div class="mb-4">
      <label class="block text-gray-600 font-medium mb-2" for="urlFoto">URL da foto</label>
      <input
        type="text"
        id="urlFoto"
        name="urlFoto"
        formControlName="urlFoto"
        placeholder="Ex: https://exemplo.com/foto.jpg"
        class="w-full p-3 border border-gray-300 rounded shadow-sm focus:ring focus:ring-blue-400"
      />
      <span class="text-red-500 text-sm" *ngIf="isCampoInvalido('urlFoto')">Campo obrigatório</span>
    </div>

    <div class="mb-4">
      <label class="block text-gray-600 font-medium mb-2" for="avaliacao">Avaliação</label>
      <select
        name="avaliacao"
        id="avaliacao"
        formControlName="avaliacao"
        class="w-full p-3 border border-gray-300 rounded shadow-sm focus:outline-none focus:ring focus:ring-blue-400"
      >
      <option [value]="">Selecione uma avaliacao</option>
      <option [value]="1">1 - Ruim</option>
      <option [value]="2">2 - Regular</option>
      <option [value]="3">3 - Bom</option>
      <option [value]="4">4 - Muito bom</option>
      <option [value]="5">5 - Excelente</option>
      </select>
      <span class="text-red-500 text-sm" *ngIf="isCampoInvalido('avaliacao')">Campo obrigatório</span>
    </div>

  <button type="submit" class="w-full bg-blue-600 text-white font-semibold p-3 rounded shadow hover:bg-blue-700">
    Cadastrar lugar
  </button>
  </form>
</div>
